* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1730px;
    margin: auto;
    padding: 40px 120px;
}

nav {
    display: flex;
    max-width: 550px;
    gap: 52px;  
}